[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
psycopg2 = "*"
django-cors-headers = "*"
ethereum = "*"
eth-utils = "*"

[dev-packages]

[requires]
python_version = "3.9"
