[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.7"
djangorestframework = "==3.12.4"
djangorestframework-simplejwt = "==4.8.0"
psycopg2 = "*"
django-cors-headers = "==3.8.0"
djoser = "==2.1.0"
pyjwt = "==2.1.0"
social-auth-core = "==4.1.0"
social-auth-app-django = "==4.0.0"
autopep8 = "*"
drf-yasg = "*"
ethereum = "==2.3.2"
django-wkhtmltopdf = "*"
django-pdfkit = "*"
reportlab = "*"
web3 = "*"
py-solc-x = "*"
python-dotenv = "*"
eth-brownie = "*"

[dev-packages]

[requires]
python_version = "3.9"
